
@{
    ViewData["Title"] = "Consultancy";
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}


<div id="page-head" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="animated slideInDown page-title">Services</div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-md-12 text-center">
                <div class="text">Join the team</div>
            </div> -->
        </div>
    </div>
</div>
    </div>

<!-- <div id="" class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="row-title" style="color:#66556b; margin-top: 50px;">Join Our Team</div>
                <div class="row-subtitle"></div>
            </div>
        </div>
    </div>
</div> -->

<div id="testimonials" class="container">
    <div class="bg-color"></div>

    <div class="col-md-12">
        <div>
            <div class="row-title" style="color:#66556b; margin-top: 50px; text-align: left">Consultancy</div>
            <div class="row-line"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <img class="animated zoomin" style="width:60%; margin-top: 50px" src="~/assets/images/consult.png" alt="">
                <div id="testimonials-slider">
                    <!-- <img style="width:80%;" src="images/clientelle.png" alt=""> -->
                </div>
            </div>


        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <p style="color:#66556b; font-size:17px; text-align: left">
                    At Smartware, we render professional
                    consultation and proffer expert advice on IT and Software development, management and support.
                    We assist your organizations with areas of their inclusiveness work as it pertains to technology
                    and infrastructure development and management. You can rely on us to catalyze and facilitate
                    deeper and more meaningful processes by a systematic change in your proceedings.

                </p>

            </div>
        </div>
    </div>
</div>
