
@{
    ViewData["Title"] = "Expertise";
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div id="page-head" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="animated slideInDown page-title">Expertise</div>
                <div class="col-md-12 text-center">
                    <p class="animated slideInDown"
                       style=" width:60%; text-align:center; margin:auto;color:#ffffff; font-size:17px">
                        Grab a job opportunity of a lifetime join our team of intense, driven and solution
                        oriented
                        innovators.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-md-12 text-center">
                <div class="text">Join the team</div>
            </div> -->
        </div>
    </div>
</div>
    </div>

<!-- <div id="" class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="row-title" style="color:#66556b; margin-top: 50px;">Join Our Team</div>
                <div class="row-subtitle"></div>
            </div>
        </div>
    </div>
</div> -->

<div id="Expertise" class="container">
    <div class="bg-color"></div>
    <br>
    <br>
    <div class="col-md-12">
        <div>
            <div class="top-title">Our Specialty</div>
            <div class="row-sub"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6">

                <div class="top-title" style="text-align:left; margin-bottom: 20px; margin-top:30px;">
                    Web
                    Application Development
                </div>
                <p style="text-align:left;font-size:15spx; width: 85%">
                    There are website development houses all around these days and as such making a choice for
                    one
                    that suites your needs and is able to transcend your goals to realities is a major
                    gamble.Some make outlandish and fake promises, string in hidden costs, whilst others offer
                    no tangible post-deployment support or hand-holding, but this is not our style.
                </p>
                <br>
                <div class="buttons-holder" style="text-align:left;">
                    <button class="read-button">
                        <a asp-action="WebAppDevelopment" asp-controller="Home">Read More</a>
                    </button>

                </div>
            </div>

            <div class="col-md-6">
                <img class="animated slideInleft" src="~/assets/images/WebApp.png" alt="" style="width:70%;margin-top:30px;">
            </div>
        </div>


    </div>


</div>
<div id="Expertise" class="container-fluid" style="background-color:#F2F2F2">

    <div class="row">
        <div class="container">
            <div class=" col-md-6">
                <img class="animated slideInright" src="~/assets/images/MobileDev.png" alt="" style="width:70%;margin-top:50px;">
            </div>

            <div class="col-md-6">
                <div class="top-title"
                     style="padding-left:35px;text-align:left; margin-top:50px;margin-bottom:25px;">
                    Mobile
                    Application Development
                </div>
                <div style="border-left: 3px solid #ccc">
                    <p style="text-align:left;font-size:15px; width: 85%; padding-left:35px">
                        We place the most innovative mobile applications at your fingertips as your partner with
                        Smartware solutions to provide you with expert solutions for Android, iPhone and Hybrid
                        mobile app development.Building mobile app is enthralling for our enthusiastic designers and
                        developers. Our proficient mobile app developers leave no stones unturned to fulfill all
                        your requirements.
                    </p>
                </div>

                <br>
                <div class="buttons-holder" style="text-align:left;padding-left: 35px">
                    <button class="read-button">
                        <a asp-action="MobileAppDevelopment" asp-controller="Home">Read More</a>
                    </button>

                </div>
            </div>

        </div>


    </div>



</div>

<div id="testimonials" class="container">

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="top-title" style="text-align:left; margin-bottom: 20px; margin-top:55px;">
                    Project
                    Management
                </div>
                <p style="text-align:left;font-size:15px; width: 85%">
                    We provide highly experienced program managers and project managers with the requisite
                    leadership and technical abilities to successfully guide, manager and support your projects.
                    Our team is concentrated on managing strategic, mission-critical initiatives, recovering failed
                    or failing project, interim project leadership, managing skill set gaps and supplementing
                    resources when demands exceeds capacity.
                </p>
                <br>
                <div class="buttons-holder" style="text-align:left;">
                    <button class="read-button">
                        <a href="">Read More</a>
                    </button>

                </div>
            </div>

            <div class="col-md-6">
                <img class="animated slideInleft" src="~/assets/images/BuisnessAnalyst.png" alt="" style="width:80%;margin-top:55px;">
            </div>
        </div>


    </div>

</div>


<div id="message1" class="container-fluid message-area normal-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="text-other-color1">Are you ready?</div>
                <div class="text-other-color2">Get On Board With Us Today.</div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="buttons-holder">
                    <a href="contact.html" class="ybtn-accent-contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
