
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div id="page-head" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 company-info-holder">
                <!-- <h4>About Hostify</h4> -->
                <div class="info-slider">
                    <div>
                        <div class="details-holder">
                            <p>
                                Smartware is wired with all<br>
                                the necessary tool and technology<br>
                                to emerge as a global brand in<br>
                                the next decades. Our indicative<br>
                                service set us apart.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="details-holder">
                            <p>
                                Smartware provides solutions to people
                                interested in making ground breaking
                                inventions and technological
                                breakthrough in any field.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="details-holder">
                            <p>
                                Smartware At vero eos et accusamus<br>
                                et iusto odio dignissimos ducimus<br>
                                qui blanditiis praesentium voluptatum<br>
                                deleniti atque corrupti quos dolores<br>
                                et quas molestias excepturi sint<br>
                                occaecati cupiditate non.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="icons-animation-holder">
                    <div class="aicon aicon1"><img src="~/assets/images/aicon1.png" alt=""></div>
                    <div class="aicon aicon2"><img src="~/assets/images/aicon2.png" alt=""></div>
                    <div class="aicon aicon3"><img src="~/assets/images/aicon3.png" alt=""></div>
                    <div class="aicon aicon4"><img src="~/assets/images/aicon4.png" alt=""></div>
                    <div class="aicon aicon-main">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 134 38" width="124px" height="35px" class="logo">
                            <text kerning="auto" font-family="Rubik" fill="rgb(255, 255, 255)"
                                  transform="matrix( 11.051445195489, 0, 0, 11.0388026563729,0.08427829227281, 28.538802656373)"
                                  font-size="3px">Smartware</text>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="articles" class="container-fluid">
    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row-title">Explore Our Services</div>
                    <div class="row-subtitle">Designed to satisfy your creative needs.</div>
                </div>
            </div>

            <div class="row">
                <div class="animated slideInLeft col-sm-6 col-md-4">
                    <div class="article-summary">
                        <div class="article-img"><img src="~/assets/images/WebApp.png" alt="" /></div>
                        <div class="article-details">
                            <div class="article-title"><a asp-action="WebAppDevelopment" asp-controller="Home">Web Application Development</a></div>
                            <div class="article-text">
                                Smartware puts you ahead of the times with fascinating mobile application designs that
                                function adaptively with your mobile devices.
                            </div>
                            <div>
                                <a asp-action="WebAppDevelopment" asp-controller="Home">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="article-summary">
                        <div class="article-img"><img src="~/assets/images/MobileApp.png" alt="" /></div>
                        <div class="article-details">
                            <div class="article-title">
                                <a asp-action="MobileAppDevelopment" asp-controller="Home">Mobile Application Development</a>
                            </div>
                            <div class="article-text">
                                Smartware puts you ahead of the times with fascinating mobile application designs that
                                function adaptively with your mobile devices.
                            </div>
                            <div>
                                <a asp-action="MobileAppDevelopment" asp-controller="Home">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="animated slideInRight col-sm-6 col-md-4">
                    <div class="article-summary">
                        <div class="article-img"><img src="~/assets/images/consult.png" alt="" /></div>
                        <div class="article-details">
                            <div class="article-title"><a asp-action="Consultancy" asp-controller="Home">Consultancy</a></div>
                            <div class="article-text">
                                At Smartware, we render professional consultation and proffer expert advice on IT and
                                Software development. Management and support
                            </div>
                            <div>
                                <a asp-action="Consultancy" asp-controller="Home">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="animated slideInLeft col-sm-6 col-md-4">
                    <div class="article-summary">
                        <div class="article-img"><img src="~/assets/images/outsourcing.png" alt="" /></div>
                        <div class="article-details">
                            <div class="article-title">
                                <a href="#">Recruitment Process Outsourcing</a>
                            </div>
                            <div class="article-text">
                                Smartware provides reliable database management services, given her clients one less
                                deployment concern to worry about
                            </div>
                            <div>
                                <a href="#">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="article-summary">
                        <div class="article-img"><img src="~/assets/images/SmartTut.png" alt="" /></div>
                        <div class="article-details">
                            <div class="article-title"><a asp-action="SmartTutoring" asp-controller="Home">Smart tutoring</a></div>
                            <div class="article-text">
                                At Smartware, we transcend the norms of the mundane classroom instructive environment as
                                we employ online training with applicable exercises and relevant instructional materials.
                            </div>
                            <div>
                                <a asp-action="SmartTutoring" asp-controller="Home">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="animated slideInRight col-sm-6 col-md-4">
                    <div class="article-summary">
                        <div class="article-img"><img src="~/assets/images/CloudComp.png" alt="" /></div>
                        <div class="article-details">
                            <div class="article-title"><a asp-action="CloudComputing" asp-controller="Home">Cloud Computing</a></div>
                            <div class="article-text">
                                At Smartware, we strive to deliver and we leverage on shared resources with
                                Microsoft Azure to achieve coherence and minimize infrastructure cost ensuring your
                                solutions run efficiently.
                            </div>
                            <div>
                                <a asp-action="CloudComputing" asp-controller="Home">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <div class="pagination">
                        <span class="current page-number">1</span>
                        <a class="page-number" href="#">2</a>
                        <a class="next page-number" href="#"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div id="message1" class="container-fluid message-area normal-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="text-other-color1">Are you ready?</div>
                <div class="text-other-color2">Get On Board With Us Today.</div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="buttons-holder">
                    <a asp-action="ContactUs" asp-controller="Home" class="ybtn-accent-contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/bootstrap-slider.min.js"></script>
<script src="~/assets/js/slick.min.js"></script>
<script src="~/assets/js/main.js"></script>