
@{
    ViewData["Title"] = "WebAppDevelopment";
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}




<div id="page-head" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="animated slideInDown page-title">Career</div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-md-12 text-center">
                <div class="text">Join the team</div>
            </div> -->
        </div>
    </div>
</div>
    </div>

<!-- <div id="" class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="row-title" style="color:#66556b; margin-top: 50px;">Join Our Team</div>
                <div class="row-subtitle"></div>
            </div>
        </div>
    </div>
</div> -->

<div id="testimonials" class="container">
    <div class="bg-color"></div>

    <div class="col-md-12">
        <div>
            <div class="row-title" style="color:#66556b; margin-top: 50px; text-align: left">Web Developer</div>
            <div class="row-line"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <img class="animated zoomin" style="width:60%; margin-top: 50px" src="~/assets/images/WebDeveloper.png" alt="">
                <div id="testimonials-slider">
                    <!-- <img style="width:80%;" src="images/clientelle.png" alt=""> -->
                </div>
            </div>


        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <p style="color:#66556b; font-size:17px; text-align: left">
                    You will be responsible for building websites and all the
                    infrastructure that sits behind them. This also involves being responsible for the
                    coding, testing, design and layout of a website according to a company’s
                    specifications.
                </p>

            </div>
        </div>
    </div>
</div>